/*************/
/* main.css */
/***********/

div.spacer{
	clear: both;
	height: 0;
}

section#content div#logo{
	position: absolute;
	top: 25px;
	right: 25px;
	width: 230px;
	height: 200px;
	z-index: 200;
}

section#content div#newLoc{
	display: none;
	position: absolute;
	z-index: 200;
	width: 90px;
	height: 90px;
	top: 250px;
	right: 25px;
}

section#content nav{
	display: none;
	position: absolute;
	z-index: 200;
	width: 380px;
	height: 200px;
	top: 250px;
	right: 25px;
}

div#menu{
	position: absolute;
	z-index: 200;
	height: 200px;
	top: 250px;
	right: 15px;
}
div#menu a{
	display: block;
	float: left;
	margin-right: 10px;
}

section#content nav div#logoNav{
	float: left;
	width: 120px;
	height: 200px;
}
section#content nav div#toolsNav{
	float: left;
	width: 220px;
	height: 160px;
	background: #fff;
	padding: 20px;
	color: #666;
}
section#content nav div#toolsNav input[type=text]{
	width: 140px;
}
section#content nav div#toolsNav a.geoloc{
	display: block;
	color: #905075;
	text-decoration: underline;
	padding: 15px 0;
}
section#content nav div#toolsNav a.ok{
	display: block;
	color: #905075;
	text-decoration: underline;
}
section#content nav div#logoDepart{
	float: right;
	width: 60px;
	height: 200px;
}

section#content div#map {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

/********/
/* map */

div.popLeft{
	width: 290px;
	height: 240px;
	float: left;
	padding-top: 10px;
}

div.popLeft span{
	font-size: 14px;
}

div.popLeft .bleu{
	color: #5DBFC3;
}
div.popLeft .orange{
	color: #E6511E;
}
div.popLeft .vert{
	color: #36A862;
}

div.popLeft footer{
	margin-top: 80px;
	border-top: solid 2px #ececec;
	width: 270px;
	padding-top: 10px;
}

div.popRight{	
	width: 140px;
	height:240px;
	float: left;
	border-left: solid 1px #ececec;
	padding-left: 20px;
	padding-top: 10px;
}

div.popRight a{	
	display: block;
	margin-top: 45px;
}